.card{
background-color: #fff;
border: 1px solid black;
border-radius: 3px;
padding-inline:1em ;
margin-bottom: 1em;
max-width: 250px;
margin-inline: auto;
opacity: 0.6em;
cursor: pointer;
transition: all 0.1s ease-in-out;

}


.card:hover{
    opacity: 1;
    scale: 1.1;
}

.card h2, .card h3{
 
    margin-block: 0.3em;
  }
  
  .card h2{
     font-size: 0.75em;
      color: gray;
    }

 .card_subtitle{
    display: flex;
    align-items: center;
    gap: 0.3rem;
 }   

 .card_subtitle FontAwesomeIcon{
   font-size: 0.75rem;
 }   

 .App{
    max-height: 80vh;
    overflow-y: scroll;
 }